# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Production
/build
# /dist

# Environment Variables 
.env
.env.dev.env
.env.dev.test.env

# VS Code
.vscode/*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Debug log from npm
npm-debug.log*

# Misc
notes.md
*.docu
*.docu.ts
*.docu[0-9]*.ts
/vscode.backup
